body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #cdcdcd;
}


.title {
  display: flex;
  padding: 30px 40px;
  width: 1280px;
  margin: 0 auto;
  flex-direction: column;
  gap: 60px;
  height: 818px;
  background-image: url('./img/IMAGE.png');
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin: 10px
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo h2 {
  color: #f1c40f;
  margin: 0;
  font-size: 32px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.logo p {
  color: #b2b2b2;
  margin: 5px 0 0 0;
  font-size: 13px;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu p {
  color: #cdcdcd;
  margin: 0;
  font-size: 17px;
  cursor: pointer;
  transition: color 0.3s ease;
}


.menu p:hover {
  color: #ffffff;
}


.menu p:first-child {
  color: #fafafa;
  border-bottom: 3px solid #f1c40f;
  padding-bottom: 5px;
}


.introduction {
  display: flex;
  align-items: center;
  height: 728px;
  position: relative;
}

.intro-text {
  width: 460px;
}

.intro-h2 {
  width: 310px;
  font-size: 24px;
  color: white
}

.intro-text p {
  color: #CDCDCD;
  font-size: 15px;
  margin-bottom: 50px;
}

.intro-text button {
  background-color: #f1cdb3;
  color: black;
  width: 207px;
  height: 52px;
  border: none;
  border-radius: 100px;
}

.intro-img {
  width: 698px;
  height: 728px;
  position: absolute;
  bottom: -30px;
  right: 0;
}

.about {
  display: flex;
  justify-content: center;
  width: 1280px;
  padding: 100px 40px;
  gap: 100px;
  background-color: white;
}

.about-text {
  width: 430px;
}

.about-h2 {
  width: 380px;
  font-size: 24px;
  color: #545454;
}

.about-text p {
  color: #4C4C4C;
  font-size: 15px;
  margin-bottom: 50px;
}